
/* généralités*/

html{
    margin: 0;
    padding: 0;
}
.space{
    height: 80px;
}
h1{
    color: #fff;
    font-size: 4vh !important;
}
h2{
    color: #fff;
    font-size: 8vh;
}
p{
    font-size: 1.7vh;
}
a{
    font-size: 2vh;
}
/* header */
.nav-link{
    color: #212227 !important;
}
.nav-link.active{
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.nav-link:hover{
    color: #fff !important;
    border-bottom: 1px solid #fff !important;
}
header{
    display: block;
}

.bleu{
    background: #575757;
}
/* body */
section{
    display: flex;
}
.p{
    margin: 1vh;
}
/* footer */
.bi-chevron-up{
    color: #fff;
}
footer{
    color: #fff;
    bottom: 0;
    height: 20vh;
    width: 100%;
}