/* généralités*/

.bluegreen{
    color: #83d1c1;
}
.black{
    color: #191716;
}
.yellow{
    color: #e6af2e;
}
.blue{
    color: #007EA7;
}
.red{
    color: #ef3e36;
}
.green{
    color: #248232;
}
.orange{
    color: #d45113;
}
.white{
    color: #fff;
}










html{
    margin: 0;
    padding: 0;
    font-family: 'Courgette', sans-serif;
}
.link{
    text-decoration: none;
    outline: none;
    color: #fff;
}
.link:hover{
    color: #83d1c1;
}
h1{
    color: #fff;
    font-size: 3.5vh;
    text-align: center;
    font-weight: bold;
    font-family: 'Courgette', sans-serif;
}
h2{
    font-size: 3.5vh;
    text-align: center;
}
p{
    font-size: 1.7vh;
}
a{
    font-size: 2vh;
}
.white{
    color: #fff;
}

.big{
    font-size: 4vh;
}
.margin1{
    margin-left: 3vw;
}
.margin2{
    margin-left: 33vw;
}
/* header */
.navbar-brand{
    color: #fff;
    font-size: 3.5vh ;
    font-weight: bold;
}
.navbar-brand:hover{
    color: #fff;
    font-size: 3.5vh ;
    font-weight: bold;
}
.nav-link{
    color: #fff ;
    font-size: 2.5vh;
}
.nav-link.active{
    color: #83d1c1 ;
    text-decoration: underline;
}

.nav-link:hover{
    color: #83d1c1 ;
    text-decoration: underline;
}
header{
    display: block;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
/* body */

section{
    display: flex;
}
.p{
    padding: 1vw;
}
/* footer */
.bi-chevron-up{
    color: #fff;
}
.bi-chevron-up:hover{
    color: #83d1c1;
}
.copyright{
    margin-top:50px;
}
footer{
    color: #fff;
    height: 20vh;
    width: 100%;
}
.footerIndex{
    margin-top: 25vh;
}

.img{
    width: 10vw;
    float: left;
    margin: 15px;
}
.titre{
    margin-top: 34vh;
    font-family: Courgette;
}

.background{
    background-image: url(images/bbc-creative-1w20Cysy1cg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.btn-primary{
    background: #4D7EA8;
    border: none;
}
.btn-primary:hover{
    background: #83d1c1;
    text-decoration: underline;
}
.back{
    background: #D1D7DC;
}
.card-img{
    height: 55vh;
}
.card{
    border: none;
}